@{
    ViewData["Title"] = "Home Page";
}
<div class="container rounded-3 p-5 my-4" style="background-color: #325D88; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div>
        <h1 class="display-5 fw-bold text-light">Tauchen Sie ein in die fesselnde Welt des Lesens.</h1>
        <p class="lead text-light">Entdecken Sie, teilen Sie und erleben Sie Geschichten, die Ihre Vorstellungskraft fesseln.</p>
    </div>
    <blockquote class="blockquote text-light">
        <p class="mb-0">"La lecture est une conversation silencieuse entre l'auteur et le lecteur."</p>
      
    </blockquote>
</div>
<div>
    

</div>


